.nav {
	padding: 1.5rem;
	display: flex;
	//flex-direction: column;
	flex-wrap: wrap;
	grid-gap: 0.5rem;
	align-items: center;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.075);
	background-color: #FAFAFA;
	color: #1e1e1e;

	a {
		font-weight: 500;
		font-size: 0.9rem;
		white-space: nowrap;
	}

}

.navItems {
	display: flex;
	flex-direction: row;
	grid-gap: 0.5rem;
	flex-wrap: wrap;
}

