html,
body {
	font-family: 'Comfortaa', 'Tajawal', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 18px;
}

html, body, #__next {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 100%;
	width: 100%;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

.hoverable {
	align-items: center;
	border: 1px solid #d4d4d4;
	padding: 4px 12px;
	border-radius: 8px;
	width: auto;
	display: inline-flex;

	&:hover {
		border: 1px solid #1e1e1e;
	}
}


.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.clickable {
	@extend .noselect;
	cursor: pointer;

}


.noWrap {
	white-space: nowrap;
}

.pageContainer {
	padding: 3.5rem 1.5rem 3.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	grid-gap: 3rem;
}

.pageTitle {
	font-size: 2rem;
}

.quote {
	background: #e5e5e5;
	border-radius: 5px;
}

@media screen and (min-width: 500px) {
}
