html,
body {
	font-family: 'Comfortaa', 'Tajawal', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 18px;
}

html, body, #__next {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 100%;
	width: 100%;

}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

.hoverable {
	align-items: center;
	border: 1px solid #d4d4d4;
	padding: 4px 12px;
	border-radius: 8px;
	width: auto;
	display: inline-flex;

	&:hover {
		border: 1px solid #1e1e1e;
	}
}

.noWrap {
	white-space: nowrap;
}

.container {
	padding: 3.5rem 1.5rem 3.5rem;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	grid-gap: 3rem;
}
